/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 6rem ;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(221, 60%, 50%);         /* Primary Accent (Blue) */
  --title-color: hsl(225, 100%, 99%);         /* Titles/Headers (Near-black) */
  --text-color: hsl(218, 10%, 35%);          /* Paragraph Text (Dark Gray) */
  --body-color: hsl(220, 15%, 10%);             /* Background (Near White) */
  --container-color: hsl(0, 0%, 100%);       /* Card/Container (Pure White) */
  --border-color: hsl(210, 16%, 90%);        /* Light Gray Border */

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'IBM Plex Mono', monospace;
  --second-font: 'Inter', sans-serif;

  --big-font-size: 2.5rem;      /* Hero/landing */
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;

  /*========== Transition ==========*/
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  /*========== Border Radius ==========*/
  --radius: 0.5rem; /* = 8px */

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body{
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-300);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3 { 
  color: var(--title-color);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.67em;
}

img {
  max-width: 100%;
}

textarea,
input { 
  background-color: none;
  border: none;
  outline: none; 
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1260px;
  background-color: var(--body-color);
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.grid {
  display: grid;
  gap: 1.75rem;
}

/*=============== HEADER & NAV ===============*/

/* Active link */

/* Change background header */

/*=============== HOME ===============*/
.home {
  padding-block: 16rem 9rem;
}

.home__container {
  grid-template-columns: 7fr 5fr;
  align-items: center;
}

.home__subtitle {
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  letter-spacing: 0.25rem;
  margin-bottom: 1.25rem;
  display: block;
}

.home__title {
  font-family: var(--second-font);
  font-size: var(--big-font-size);
  font-weight: var(--weight-900);
}

.home__title span {
  color: var(--first-color)
}

.home__title span {
  color: var(--first-color);
}

.home__img {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 0.75rem solid var(--container-color)
}
/*=============== ABOUT ===============*/
/* Section Title */
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  color: var(--title-color);
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  background-color: var(--container-color);
}

.section-title h2::before {
  top: 100%;
  width: 50px;
}

.section-title h2::after {
  top: calc(100% + 8px);
  width: 25px;
}

/* About Section */
.about .about-content,
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.about .about-content .about-text h3 span {
  color: hsl(221, 60%, 50%);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 1.56;
  color: hsl(0, 0%, 100%);
}

/* Personal Info */
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 5%;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
  background-color: hsl(210, 16%, 90%);
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  color: var(--text-color);
  border-bottom: 1px solid var(--body-color);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: hsl(218, 10%, 35%);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

/* Skills */
.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 10%;
  background-color: hsl(0, 0%, 100%);
}

.about .about-content .skills .skills-item {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: azure;
}

.about .about-content .skills .skills-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color:hsl(210, 16%, 90%) 
}

.about .about-content .skills .skills-item .progress {
  background-color: rgb(0, 0, 0);
  height: 7px;
  border-radius: 4px;
  width: 100%;
}

.about .about-content .skills .skills-item {
  margin-bottom: 30px;
}

.about .about-content .skills .skills-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: white;
}

/* Active tab */

/*=============== SERVICES ===============*/


/*=============== WORK ===============*/

/* Work hover */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show scrollup */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
